@import 'tailwind';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo-4 {
  background-color: #673ab7;
  -webkit-mask: url(assets/logo-4.svg) no-repeat center;
  mask: url(assets/logo-4.svg) no-repeat center;
}
