.login-container {
  height: 24rem;
  width: 20rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-loader-container{
  height: 5rem;
}
