
<div class="login-container  flex rounded-lg border border-gray-400">
  <img class="mt-10 mb-10 h-10" src="assets/logo-4.svg">
  <p class="mat-body font-normal text-xl">Fazer login</p>
  <p>
    <mat-form-field class="w-64" appearance="outline">
      <mat-label>Nome de Usuário</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="w-64" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <button mat-flat-button color="primary">Entrar</button>
</div>

